<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("button").click(function(){
          $("#coursesList").toggle();
        });
      });
    </script>

  <title></title>
  </head>
  <body>
    <h1>Course form </h1>
    <h3>Welcome</h3>
    <div class="">
      <p>To view list of allCourses:</p>
      <button name="button">list of courses</button>
    </div>
    <div id="coursesList" style="display: none;">
      <% if(savedCourses.length>0){ %>
      <table>
        <tr>
          <th>CourseId</th>
          <th>Course Title</th>
          <th>Instructor</th>
          <th>Term</th>
        </tr>
        <% savedCourses.forEach(function(item){ %>
        <tr>
          <td><%= item.code %></td>
          <td><%= item.title %></td>
          <td><%= item.instructor %></td>
          <td><%= item.term %></td>
        </tr>
        <% }); %>
        </table>
        <% } %>
    </div>

    <p>Filter courses by course id: </p>
    <form class="" action="/" method="get">
      <input type="text" name="courseidValue" value="">
      <input type="submit" value="Search Course">
    </form>
    <% if(foundCourses.length>0){ %>
      <div>
        <table>
          <tr>
            <th>CourseId</th>
            <th>Course Title</th>
            <th>Instructor</th>
            <th>Term</th>
          </tr>
        <% foundCourses.forEach(function(item){ %>
          <tr>
            <td><%= item.code %></td>
            <td><%= item.title %></td>
            <td><%= item.instructor %></td>
            <td><%= item.term %></td>
          </tr>
        <% }) %>
        </table>
      </div>
    <% } %>


    <p>Form posted count : <strong><%= hits %></strong></p>
    <form id="courseForm" method="post" action="/courseDetails">
      <table>
        <tr>
          <td><label for="CourseID">CourseID</label></td>
          <td><input type="text" name="courseId" value=""><br></td>
        </tr>
        <tr>
          <td><label for="Title">Title</label></td>
          <td><input type="text" name="title" value=""><br></td>
        </tr>
        <tr>
          <td><label for="Term">Term</label></td>
          <td><input type="text" name="term"></td>
        </tr>
        <tr>
          <td><label for="Instructor">Instructor</label></td>
          <td><input type="text" name="instructor"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
