<!DOCTYPE html>
<html>
<head>
	<title>Connections Page</title>
	<link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
</head>
<body>
	<header>
		<%- include('partials/header.ejs')%>
	</header>
	<header>
		<%- include('partials/navigation.ejs')%>
	</header>

	<section id="connectionsSection">
		<section id="bookclub">
			<% categories.forEach(function(data){ %>
				<h3><%= data %></h3>
				<ul>
				<% connections.forEach(function(item){ %>
					<% if(item.getConnection_category == data){ %>
					<li><a class="link" href="connection?id=<%= item.getConnectionId%>"><%= item.getConnection_name %></a></li>
					<% } %>
				<% }) %>
				</ul>
			<% }) %>
		</section>
	</section>


	<footer>
		<%- include('partials/footer.ejs') %>
	</footer>
</body>
</html>
