<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs')%>
    <title>Login</title>
  </head>
  <body>
    <%- include('partials/header.ejs')%>
    <%- include('partials/navigation.ejs')%>

    <div class="jumbotron bg-white">
      <div class="container">
        <h1 class="display-4">About Online Book Depot</h1>
        <p class="lead">Please enter your username and password to login</p>
        <hr class="my-4">
        <div class="row">
          <div class="col-sm col-lg-6 col-md-6">
            <div class="error-message" style="color:red">
              <% if(errorMsg.length>0){ %>
                <% errorMsg.forEach(function(item){ %>
                  <p><span><%= item.msg %></span></p>
                <% }); %>
              <% } %>
            </div>
            <div class="success-message" style="color:blue">
              <% if(successMsg.length>0){ %>
                <% successMsg.forEach(function(item){ %>
                  <p><span><%= item.msg %></span></p>
                <% }); %>
              <% } %>
            </div>
            <form action="/login" method="post" class="required">
              <div class="form-group">
                <label for="exampleInputEmail1" class="control-label">Username </label>
                <input type="text" class="form-control" name="username" aria-describedby="usernameHelp">
                <small id="usernameHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="control-label">Password </label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
 		<%- include('partials/footer.ejs') %>
  	
  </body>
</html>
